<a class="dropdown-item" @attributes="GetAttributes()">@ChildContent</a>

@code {
    [Parameter] public string Href { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    private Dictionary<string, object> GetAttributes()
    {
        var attributes = new Dictionary<string, object>();

        if (!string.IsNullOrEmpty(Href))
        {
            attributes.Add("href", Href);
        }

        return attributes;
    }
}
