@inherits LayoutComponentBase

<ul style="list-style-type: none;">
    @foreach (var menuItem in MainForm.Instance.menusetup) {
        if (menuItem.Show)
        {
            <li>
                <b>@menuItem.Text</b>
            </li>

            @foreach (var child in menuItem.Childs)
            {
                if (child.Show) {
                    <li style="display: inline-block; margin-right: 100px;"> 
                        <a href="@child.Text">@child.Text</a>
                    </li>
                }

            }
        }
    }
</ul>

<hl></hl>

<main> @Body </main>
