@page "/edit/{type}/{id}"
@using Nexus.Blazor.Wrappers

@inject NexusCore.Components.Controller.EditorController controller

@inject NexusLogging.Logger logger

@implements IDisposable


@code {
    [Parameter]
    public string Type { get; set; }
    [Parameter]
    public string id { get; set; }

    public EditorWrapper editorWrapper { get; set; }

    protected override void OnInitialized() {
        editorWrapper = new(controller);
        editorWrapper.OnInitialized();
    }

    protected override void OnParametersSet() {
        editorWrapper.OnParametersSet(Type, id);
    }

    public void Dispose() {
        editorWrapper.Dispose();
    }
}

<h1>@Type @id</h1>

