@page "/view/{type}"
@using Nexus.Blazor.Wrappers

@inject NexusCore.Components.Controller.ViewerController controller

@inject NexusLogging.Logger logger

@implements IDisposable


@code {
    [Parameter]
    public string Type { get; set; }

    public ViewerWrapper viewerWrapper { get; set; }

    protected override void OnInitialized() {
        viewerWrapper = new(controller);
        viewerWrapper.OnInitialized();
    }

    protected override void OnParametersSet() {
        viewerWrapper.OnParametersSet(Type);
    }

    public void Dispose() {
        viewerWrapper.Dispose();
    }
}

<li><a href="edit/@Type/1">Edit @Type 1</a></li>
<li><a href="edit/@Type/2">Edit @Type 2</a></li>
<li><a href="edit/@Type/3">Edit @Type 3</a></li>

